body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 30px;
}

section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #333;
}

li {
  margin: 8px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}